<script type="text/x-tmpl" id="tmpl-events">
  <div class='events_progress'>
    <input class='progress' type='text' value='{%=o[0]%}' disabled='disabled' data-width="40" data-height="40"/>
  </div>

  <div class='events_num'>
    {%=o[1]%} events
  </div>
</script>

<script type="text/x-tmpl" id="tmpl-no-events">
  <strong>no events</strong>
</script>

